body {
  font-family: serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 1em;
  color: #111;
}

.text {
  width: 34em;
  text-align: center;
  margin: 0 auto;
}

.left {
  text-align: left;
}

.listing:first-of-type {
  margin-top: 0.6em;
}

.listing {
  width: 40em;
  text-align: center;
  margin: 0 auto;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

hr {
  border: none;
  border-top: 1px solid #999;
  margin: 1em 0;
}

h1, h2, h3 {
  font-weight: bold;
}

dl {
  margin: 0;
}

dt {
  margin: 0;
}
